<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.createdDate?.toLocaleDateString() }}</td>
        <td>
          <a [routerLink]="[product.id]" [relativeTo]="activatedRoute">
            <fa-icon [icon]="faEdit"></fa-icon>
          </a>
          <a [routerLink]="[]" (click)="deleteProduct(product)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <button class="btn" [routerLink]="[0]" [relativeTo]="activatedRoute">Add</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
