# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
eshop/blog-single-sidebar.html
eshop/cart.html
eshop/checkout.html
eshop/contact.html
eshop/index.html
eshop/shop-grid.html
eshop/style.css
eshop/css/animate.css
eshop/css/bootstrap.css
eshop/css/flex-slider.min.css
eshop/css/font-awesome.css
eshop/css/jquery-ui.css
eshop/css/jquery.fancybox.min.css
eshop/css/magnific-popup.css
eshop/css/magnific-popup.min.css
eshop/css/nice-select.css
eshop/css/niceselect.css
eshop/css/owl-carousel.css
eshop/css/reset.css
eshop/css/responsive.css
eshop/css/slicknav.min.css
eshop/css/themify-icons.css
eshop/fonts/fontawesome-webfont.eot
eshop/fonts/fontawesome-webfont.svg
eshop/fonts/fontawesome-webfont.ttf
eshop/fonts/fontawesome-webfont.woff
eshop/fonts/fontawesome-webfont.woff2
eshop/fonts/themify.eot
eshop/fonts/themify.svg
eshop/fonts/themify.ttf
eshop/fonts/themify.woff
eshop/images/favicon.png
eshop/images/logo.png
eshop/images/logo2.png
eshop/images/map-marker.png
eshop/images/payment-method.png
eshop/images/payments.png
eshop/js/active.js
eshop/js/bootstrap.min.js
eshop/js/easing.js
eshop/js/facnybox.min.js
eshop/js/finalcountdown.min.js
eshop/js/flex-slider.js
eshop/js/gmap.min.js
eshop/js/jquery-migrate-3.0.0.js
eshop/js/jquery-ui.min.js
eshop/js/jquery.min.js
eshop/js/magnific-popup.js
eshop/js/map-script.js
eshop/js/nicesellect.js
eshop/js/onepage-nav.min.js
eshop/js/owl-carousel.js
eshop/js/popper.min.js
eshop/js/scrollup.js
eshop/js/slicknav.min.js
eshop/js/waypoints.min.js
eshop/js/ytplayer.min.js
eshop/mail/mail.php
