<div class="shop-sidebar">
  <div class="single-widget category">
    <h3 class="title">Categories</h3>
    <ul class="categor-list">
      <li *ngFor="let cat of categories">
        <a [routerLink]="[]" [queryParams]="{ category: cat.id }" queryParamsHandling="merge"
          >{{ cat.name }}
        </a>
      </li>
    </ul>
  </div>

  <div class="single-widget category">
    <h3 class="title">Brands</h3>
    <ul class="categor-list">
      <li *ngFor="let brand of brands">
        <a [routerLink]="[]" [queryParams]="{ brand: brand.id }" queryParamsHandling="merge">
          {{ brand.name }}
        </a>
      </li>
    </ul>
  </div>

  <div class="single-widget range">
    <button type="button" class="btn animate" (click)="clearFilter()">Clear Filter</button>
  </div>
</div>
