<app-breadcrumbs routeName="Contact Us"></app-breadcrumbs>

<section id="contact-us" class="contact-us section">
  <div class="container">
    <div class="contact-head">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="form-main">
            <div class="title">
              <h4>Get in touch</h4>
              <h3>Write us a message</h3>
            </div>
            <app-contact-us-form></app-contact-us-form>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <app-contact-us-info></app-contact-us-info>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13298.902826019832!2d35.561628!3d33.5605023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3ee4c7f925671f98!2sPREMIUM%20PINE!5e0!3m2!1sen!2slb!4v1672777089766!5m2!1sen!2slb"
      width="100%"
      height="500"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
