<section class="small-banner section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let banner of banners">
        <div class="single-banner">
          <img [src]="banner.imageUrl" [alt]="banner.title" />
          <div class="content">
            <p>{{ banner.title }}</p>
            <h3>{{ banner.subtitle }}</h3>
            <a [routerLink]="banner.url">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
