<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-12">
        <!-- Top Left -->
        <div class="top-left">
          <ul class="list-main">
            <li><fa-icon [icon]="faHeadphones"></fa-icon> +060 (800) 801-582</li>
            <li><fa-icon [icon]="faEnvelope"></fa-icon> support@shophub.com</li>
          </ul>
        </div>
        <!--/ End Top Left -->
      </div>
      <div class="col-lg-8 col-md-12 col-12">
        <!-- Top Right -->
        <div class="right-content">
          <ul class="list-main">
            <li><fa-icon [icon]="faLocationPin"></fa-icon><a href="#"> Store location </a></li>
            <li><fa-icon [icon]="faClock"></fa-icon> <a href="#">Daily deal</a></li>
            <li><fa-icon [icon]="faUser"></fa-icon> <a href="#">My account</a></li>
            <li><fa-icon [icon]="faPowerOff"></fa-icon> <a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
