<div class="single-head">
  <div class="single-info">
    <i> <fa-icon [icon]="faPhone"></fa-icon> </i>
    <h4 class="title">Call us Now:</h4>
    <ul>
      <li>+123 456-789-1120</li>
      <li>+522 672-452-1120</li>
    </ul>
  </div>
  <div class="single-info">
    <i> <fa-icon [icon]="faEnvelope"></fa-icon> </i>
    <h4 class="title">Email:</h4>
    <ul>
      <li><a href="mailto:premium.pine.lb961@mail.com">premium.pine.lb961@mail.com</a></li>
    </ul>
  </div>
  <div class="single-info">
    <i> <fa-icon [icon]="faLocationArrow"></fa-icon> </i>
    <h4 class="title">Our Address:</h4>
    <ul>
      <li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
    </ul>
  </div>
</div>
