<div class="checkout-form">
  <h2>Make Your Checkout Here</h2>
  <p>Please register in order to checkout more quickly</p>
  <form class="form" method="post" action="#">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <label>First Name<span>*</span></label>
          <input type="text" name="name" placeholder="" required="required" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <label>Last Name<span>*</span></label>
          <input type="text" name="name" placeholder="" required="required" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <label>Email Address<span>*</span></label>
          <input type="email" name="email" placeholder="" required="required" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <label>Phone Number<span>*</span></label>
          <input type="number" name="number" placeholder="" required="required" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <label>City<span>*</span></label>
          <input type="text" name="city" placeholder="" required="required" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <label>Address Line 1<span>*</span></label>
          <input type="text" name="address" placeholder="" required="required" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <label>Address Line 2<span>*</span></label>
          <input type="text" name="address" placeholder="" required="required" />
        </div>
      </div>
    </div>
  </form>
</div>
