<footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <div class="single-footer about">
            <div class="logo">
              <a routerLink="/"><img src="/assets/logo2.jpeg" width="100" alt="LOGO" /></a>
            </div>
            <p class="text">
              Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, magna eros eu
              erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
              luctus, metus.
            </p>
            <p class="call">
              Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span>
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <div class="single-footer links">
            <h4>Information</h4>
            <ul>
              <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-footer social">
            <h4>Get In Tuch</h4>
            <div class="contact">
              <ul>
                <li>NO. 342 - London Oxford Street.</li>
                <li>012 United Kingdom.</li>
                <li>info@eshop.com</li>
                <li>+032 3456 7890</li>
              </ul>
            </div>
            <ul>
              <li>
                <a href="#" target="_blank"> <fa-icon [icon]="faFacebook"></fa-icon> </a>
              </li>
              <li>
                <a href="#" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
              </li>
              <li>
                <a href="#" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2022 - All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
