<app-breadcrumbs routeName="Products List"></app-breadcrumbs>

<section class="product-area shop-sidebar shop section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <app-product-list-sidebar></app-product-list-sidebar>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="row">
          <div class="col-12">
            <app-product-list-topbar (sortChange)="onSortChange($event)"></app-product-list-topbar>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12" *ngFor="let product of productList">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
