<table class="table shopping-summery">
  <thead>
    <tr class="main-hading">
      <th>PRODUCT</th>
      <th>NAME</th>
      <th class="text-center">UNIT PRICE</th>
      <th class="text-center">QUANTITY</th>
      <th class="text-center">TOTAL</th>
      <th class="text-center">
        <i><fa-icon [icon]="faTrash"></fa-icon></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartItems">
      <td class="image" data-title="No">
        <img [src]="item.product.cardImageUrl" alt="#" />
      </td>
      <td class="product-des" data-title="Description">
        <p class="product-name">
          <a [routerLink]="['product-details', item.product.id]">
            {{ item.product.name }}
          </a>
        </p>
      </td>
      <td class="price" data-title="Price">
        <span>${{ item.product.price }} </span>
      </td>
      <td class="qty" data-title="Qty">
        <div class="input-group">
          <input type="text" class="input-number" min="1" max="255" [value]="item.quantity" />
        </div>
      </td>
      <td class="total-amount" data-title="Total">
        <span>${{ item.product.price * item.quantity }}</span>
      </td>
      <td class="action" data-title="Remove">
        <a (click)="removeItem(item)">
          <i><fa-icon [icon]="faTrash"></fa-icon></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
